body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

/* Kontejner pro Flexbox */
.container {
    display: flex;
    flex-wrap: wrap; /* Povolit zalamování */
    justify-content: space-between; /* Mezera mezi boxy */
    align-items: center; /* Zarovnání na střed na vedlejší ose */
    width: 80%;
    height: 60%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Jednotlivé boxy */
.box {
    flex: 1 1 150px;
    margin: 10px;
    padding: 20px;
    max-width: 100px;
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    font-size: 1.2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

/* Hover efekt pro boxy */
.box:hover {
    transform: scale(1.05);
    background-color: #0056b3;
}